<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Xeory Extension</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>
  <body>
  <%# ヘッダー %>
    <header class="xeory_header">
      <%= link_to "Xeory Extension", fifth_content_tops_path, class: :xeory_logo %>
      <div class="xeory_nav_area">
        <ul>
            <li>記事ページサンプル</li>
            <li>Extensionをダウンロード</li>
        </ul>
      </div>
    </header>
  <%# ヘッダー %>
  </body>
</html>