<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>模写サイト①</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="area_top_view">
      <div class="top_page_container" style="background-image: url('<%= asset_path('flower.png') %>')");>
        <%= image_tag("flower_logo.png", class: :flower_logo) %>
        <p class="logo_bottom_title">FLOWER</p>
        <p class="logo_bottom_title2">かわいいが届くお花便</p>
        <div class="btn_container">
          <div class="app_btn">App Store</div>
          <div class="google_btn">Google Play</div>
        </div>
        <p class="send_message">＊北海道、沖縄、離島エリアは現在対象外です</p>
      </div>
    </div>
  </body>
</html>