<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mag88</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    
    <%# ヘッダー画像 %>
      <div class="p_img" style="background-image: url('<%= asset_path('fourth.png') %>')");>
    <%# ヘッダー画像 %>
  </body>
</html>