<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Work</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>
  <body>

  <%# ヘッダー %>
    <header class="mywork_header">
      <div class="mywork_logo">
        My Work
      </div>
      <div class="mywork_menu">
        <ul class="menu">
          <li>About</li>
          <li>Works</li>
          <li>News</li>
          <li>Contact</li>
          <li><i class="fab fa-instagram-square"></i></li>
        </ul>
      </div>
    </header>
  <%# ヘッダー %>

  <%# 画像 %>
    <picture>
      <%= image_tag("mywork.png", class: :mywork_image) %>
    </picture>
  <%# 画像 %>

  <%# 隙間 %>
  <div class="mywork_gap"></div>
  <%# 隙間 %>

  <%# About %>
    <section class="mywork_wrapper">
      <h2 class="sec_title">About</h2>
      <ul class="mywork_ul">
        <li class="Ashley">Xxxxx Ashley</li>
        <li>2th Floor xxxxx Building x-x-x Nishiazabu, Minato-ku, Tokyo 106-0031 Japan</li>
        <li>tel: 000-0000-0000</li>
        <li>url: www.xxxxxx.jp</li>
        <li>mail: xxx@xxxxxx.jp</li>
      </ul>
      <p>プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </section>
  <%# About %>
    
  </body>
</html>