// ヘッダー

.p_img{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 80px;
}



// magazine

.magazine{
    text-align: center;
    margin-bottom: 80px;
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
}

.magazine h2{
    margin-bottom: 20px;
}

.mag88_two_layout{
    display: flex;
    justify-content: space-between;
}

.mag88_magazine_content{
    height: 517px;
    width: 49%;
    margin: 40px 0 80px;
}



// fashion

.fashion{
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 60px 0;
}

.fashion_wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.fashion_wrapper h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.mag88_fashion_btn{
    color: #2a2a2a;
    border: solid 1px #2a2a2a;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
}

.mag88_fashion_btn:hover{
    color: #fff;
    background-color: #2a2a2a;
}

.mag88_pc_img{
    height: 200px;
    width: 60%;
    margin: 30px 0 80px;
}