// ヘッダー

.p_img{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 80px;
}

// メイン

.magazine{
    text-align: center;
    margin-bottom: 80px;
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
}

.magazine h2{
    margin-bottom: 20px;
}

.mag88_two_layout{
    display: flex;
    justify-content: space-between;
}

.mag88_magazine_content{
    height: 517px;
    width: 49%;
    margin: 40px 0 80px;
}