// ヘッダー

#blog_header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}

#blog_header .blog_site_title{
    padding: 18px 16px;
}

#blog_header .blog_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

#blog_header .blog_logo{
    font-size: 26px;
}

#blog_navi{
    background-color: #333;
}

#navi .blog_wrapper{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

#blog_navi ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#blog_navi li{
    font-size: 0.875rem;
    padding: 10px 60px 10px 0;
}

.blog_header_btn{
    color: #fff;
}



// ピックアップ

.blog_main{
    background-color: #fff;
}

#pickup {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 60px;
}

.blog_wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

#pickup article{
    width: 32%;
}

#pickup .article-title {
    font-size: 1rem;
    margin: 10px 0 15px 0;
}

.readmore {
    font-size: 0.875rem;
    text-align: center;
}

.readmore a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
    text-decoration: underline;
}



// メインコンテンツ

main{
    width: 65%;
}

#blog_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

main article {
    margin-bottom: 80px;
}

main .article-title {
    font-size: 1.5rem;
    margin: 10px 0 15px 0;
}

main ul{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

main li {
    font-size: 0.875rem;
    margin-right: 20px;
}

main .text {
    padding: 10px 40px 30px 40px;
}



// サイドコンテンツ

#sidebar{
    width: 33%;
    padding: 20px;
}

.author img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#sidebar h3{
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.author {
    text-align: center;
    margin-bottom: 60px;
}

.author .profile {
    font-size: 14px;
    text-align: left;
}



// ランキング

.ranking {
    text-align: center;
    margin-bottom: 60px;
}

#sidebar .side-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.ranking .article_title {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}



// 記録

.archive {
    text-align: center;
    margin-bottom: 60px;
}

#sidebar .side-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.archive ul {
    border-bottom: solid 1px #777;
}

.archive li {
    font-size: 0.875rem;
    border-top: solid 1px #777;
    padding: 20px;
    text-align: left;
}



// フッター

#blog_footer {
    font-size: 0.875rem;
    background-color: #f7f7f7;
}

#blog_footer .blog_content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog_wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

#blog_footer .blog_item {
    width: 30%;
}

#blog_footer .blog_footer_title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.blog_about_list {
    margin: 20px 0;
}

#blog_footer ul.about_list li {
    margin-bottom: 5px;
}

#blog_footer ul.about_list .blog_arrow {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;
}

#blog_footer .blog_menu_list {
    border-bottom: solid 1px #777;
}

#blog_footer .blog_menu_list > li {
    border-top: solid 1px #777;
    padding: 15px;
    text-align: left;
}

#blog_footer .blog_copyright {
    font-size: 0.750rem;
    text-align: center;
    padding: 10px 0;
}